@import url('https://fonts.googleapis.com/css?family=Lato:400,600');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* GENERAL */

* {
	box-sizing: border-box;
}

html {
	padding: 0;
	margin: 0;
	font-size: 62.5%;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Lato', sans-serif;
	background-color: rgba(0, 0, 0, .05);
	color: rgba(0, 0, 0, .87);
}

a {
	text-decoration: none;
	color: #255C99;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
}

img {
	width: 100%;
	margin: 0;
	padding: 0;
	display: block;
}

button,
input,
textarea {
	font-family: inherit;
}

.container {
	max-width: 700px;
	padding: 0 20px;
	margin: 0 auto;
}

/* LANDING PAGE */

.safe_background {
	background-color: #255C99;
}

.landing_page {
	padding: 180px 0 175px 0;
	color: white;
	font-size: 1.8rem;
	position: relative;
	overflow: hidden;
}

.landing_page header {
	text-align: left;
}

.landing_page h1 {
	font-size: 4.8rem;
	margin: 0;
}

.landing_page p {
	font-size: 1.8rem;
	margin: 8px 0 32px 0;
}

.landing_page .btn {
	display: inline-block;
	text-align: center;
	border: none;
	padding: 8px 12px;
	margin: 0 12px 4px -12px;
	background-color: transparent;
	color: white;
	font-size: 1.8rem;
	cursor: pointer;
	border-radius: 4px;
	transition: background-color .2s;
	line-height: 24px;
}

.landing_page .btn:hover,
.landing_page .btn:focus {
	background-color: rgba(255, 255, 255, .1);
	outline: none;
}

.landing_page .btn span {
	display: inline-block;
	vertical-align: middle;
}

.landing_page .btn i {
	display: inline-block;
	padding: 0 6px 0 0;
	vertical-align: middle;
}

.landing_page.msg_err {
	height: 100%;
	background-color: #255C99;
    background-image: url(../img/mountains.jpg);
	background-size: cover;
}

/* CONNEXION ET INSCRIPTION */

.lightbox {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 8px;
	background-color: rgba(0, 0, 0, .54);
	display: block;
	z-index: -5;
	opacity: 0;
	transition: z-index 1s, opacity .2s;
}

.lightbox.active {
	z-index: 5;
	opacity: 1;
	transition: opacity .2s, z-index;
}

.lightbox_header {
	margin: 10% auto 0 auto;
	max-width: 400px;
}

.lightbox_header h2 {
	display: inline-block;
	color: white;
	padding: 16px;
	margin: 0;
	font-size: 1.8rem;
	text-align: left;
	font-weight: 600;
}

.lightbox .card {
	display: block;
	margin: 0 auto;
	max-width: 400px;
	box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
	position: relative;
	overflow: visible;
}

.lightbox .close {
	border: none;
	background-color: transparent;
	display: block;
	height: 44px;
	width: 44px;
	float: right;
	color: white;
	padding: 10px;
	margin: 5px;
	cursor: pointer;
	border-radius: 50%;
	transition: .2s;
}

.lightbox .close:hover,
.lightbox .close:focus {
	background-color: rgba(255, 255, 255, .1);
	outline: none;
}


/* ARTICLES */

.main_content {
	box-shadow: 0 0 100px rgba(0,0,0,.3);
}

.main_content section {
	padding: 24px 0;
	background-color: #255C99;
}

.main_content .container {
	padding: 0 20px;
}

.main_content h2 {
	padding: 0;
	margin: 0 0 16px 0;
	font-weight: 600;
	font-size: 2.4rem;
	color: white;
}

.main_content p {
	color: rgba(255, 255, 255, .7);
	font-size: 1.6rem;
	text-align: justify;
	margin: 16px 0;
}

section.listes_pub {
	background-color: #eee;
}

section.listes_pub h2 {
	color: #255C99;
}

/* HEADER & NAV */

.top_page {
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
}

.top_page header {
	padding: 0;
	background-color: #255C99;
	background-image: url(../img/mountains.jpg);
	background-size: cover;
	background-position: center;
	color: white;
}

.top_page header h1 {
	display: block;
	font-weight: 600;
	font-size: 3.2rem;
	line-height: 130px;
	height: 130px;
	margin: 0;
	padding-left: 16px;
}

.top_page nav {
	background-color: white;
	box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}

.top_page nav ul {
	text-align: left;
	font-size: 0;
	position: relative;
}

.top_page nav li {
	display: inline-block;
	text-align: center;
	margin: 0;
	transition: background-color .2s
}

.top_page nav a:hover,
.top_page nav a:focus {
	background-color: rgba(0, 0, 0, .1);
	outline: none;
}

.top_page nav li > a {
	padding: 8px 16px;
	display: block;
	width: 100%;
	margin: 0;
}

.top_page nav li div {
	font-size: 1.4rem;
	overflow: hidden;
	text-overflow: ellipsis;
}

.top_page nav li i {
	display: inline;
}

.top_page nav li.user {
	float: right;
	min-width: 80px;
	max-width: 120px;
	padding: 8px 16px;
	color: #255C99;
}

.top_page nav li.user:hover {
	background-color: rgba(0, 0, 0, .1);
	cursor: pointer;
}

.top_page nav li.user:hover ul.dropdown_menu {
	display: block;
}

.top_page ul.dropdown_menu {
	display: none;
	position: absolute;
	right: 20px;
	top: 100%;
	width: auto;
	padding: 4px 0;
	font-size: 1.4rem;
	background-color: white;
	border-radius: 4px 0 4px 4px;
	box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}

.top_page ul.dropdown_menu li {
	width: auto;
	display: block;
	text-align: left;
}

/* CONTENU DE LA PAGE */

.content {
	padding: 200px 0 100px 0;
}

h2 {
	padding: 0 16px;
	margin: 16px 0;
	font-weight: 600;
	font-size: 2.4rem;
	color: #255C99;
}

.content ul {
	margin: 8px 0;
	list-style: none;
}


/* CARD */

.card {
	margin: 8px 0;
	padding: 16px;
	border-radius: 4px;
	background-color: white;
	font-size: 1.4rem; /*IMPORTANT*/
	color: rgba(0, 0, 0, .54);
	box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.card h3 {
	margin: 12px 0;
	font-size: 1.6rem;
	color: rgba(0, 0, 0, .87);
}

.card h3:first-child {
	margin-top: 0;
}

.card p {
	margin: 0 0 12px 0;
	color: rgba(0, 0, 0, .87);
	font-size: 1.4rem;
}

.card .expiration {
	color: rgba(0,0,0,.54);
	margin: 8px 0;
	text-align: left;
}

.card_footer {
	padding: 0;
	margin: 0 -8px -8px 0;
	color: rgba(0, 0, 0, .54);
	text-align: right;
	font-size: 0;
}

.card_footer * {
	font-size: 1.4rem;
}

.card_footer a,
.card_footer button {
	display: inline-block;
	padding: 8px 12px;
	margin: 0;
	border: 0;
	text-decoration: none;
	font-size: 1.4rem;
	text-align: center;
	line-height: 1.6rem;
	text-decoration: none;
	color: #255C99;
	border-radius: 4px;
	background-color: transparent;
	cursor: pointer;
	transition: background-color .2s, color .2s;
}

.card_footer .warning:hover {
	color: #D50000;
}

.card_footer a:hover,
.card_footer a:focus,
.card_footer button:hover,
.card_footer button:focus {
	background-color: rgba(0, 0, 0, .1);
	outline: none;
}

p.aucune_liste {
	color: rgba(0,0,0,.54);
	text-align: center;
	margin: 50px 0;
	font-size: 1.6rem;
}


/* ITEMS */

a.retour {
	display: inline-block;
	text-decoration: none;
	color: #255C99;
	padding: 4px;
	margin: 8px 0;
	border-radius: 2px;
	transition: .2s;
}

a.retour:hover {
	background-color: rgba(0, 0, 0, .1);
}

a.retour i {
	padding-right: 4px;
}

a.retour div {
	float: right;
	padding-right: 8px;
	height: 2.4rem;
	line-height: 2.4rem;
	font-size: 14px;
}


/* TABLEAU */
.table {
	margin: 0 -8px -4px -8px; 
}

.table .row {
	display: block;
	position: relative;
	font-size: 0;
	clear: both;
	padding: 0;
	height: 44px;
	transition: .2s;
	border-radius: 4px;
}

.table .row:hover {
	background-color: rgba(0,0,0,.1);
}

.table .row:hover .btn {
	opacity: 1;
}

.table .row:not(:last-child):hover .data:nth-child(2) {
	right: 120px;
}

.table .data {
	display: inline-block;
	font-size: 1.4rem;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 6px 8px;
	height: 100%;
	box-sizing: content-box;
	height: 32px;
	line-height: 32px;
}

.table .add_item {
	padding: 4px;
}

.table .data.btn {
	display: block;
	opacity: 0;
	transition: .2s;
}

.table .data:nth-child(2) {
	position: absolute;
	padding-left: 56px;
	left: 0;
	right: 0;
}

.table .data:nth-child(3) {
	position: absolute;
	right: 0;
	top: 0;
}

.table .row .btn i {
	float: left;
}

.table .row .btn span {
	display: inline-block;
	padding: 4px 2px 4px 0;
	height: 32px;
	line-height: 24px;
	float: left;
}

.table .data i {
	display: inline-block;
	padding: 4px;
}

.img_wrapper {
	width: 32px;
	height: 32px;
	background-size: cover;
	background-position: center;
	border-radius: 4px;
}


/* ITEM */

.item .card_body {
	padding: 12px 16px;
}

.card .prix {
	text-align: right;
	color: #255C99;
}

.item_img_wrapper {
	position: relative;
	margin-bottom: 8px;
}

.edit_img {
	position: absolute;
	border: none;
	cursor: pointer;
	outline: none;
	right: 0;
	bottom: 0;
	color: white;
	background-color: rgba(0,0,0,.4);
	border-radius: 4px 0 0 0;
	transition: background-color .2s;
}

.edit_img:hover,
.edit_img:focus {
	background-color: #255C99;
}

.edit_img > i {
	display: block;
	float: left;
	padding: 4px;
}

.edit_img > span {
	display: block;
	float: left;
	height: 32px;
	line-height: 32px;
	padding: 0 8px 0 0;
}

.card .auteur_com {
	font-weight: 600;
	margin: 16px 0 4px 16px;
	margin-bottom: 8px;
}

.card .com {
	border-radius: 16px;
	background-color: rgba(0,0,0,.1);
	padding: 8px 16px;
	margin: 0 0 8px 0;
}

.card .suppr_com {
	font-weight: 400;
	float: right;
	margin-right: 16px;
}

.card .publication {
	display: inline;
	color: rgba(0,0,0,.54);
	margin-left: 16px;
}

/* FORMULAIRES */

label {
	line-height: 2.0rem;
	display: block;
	font-size: 1.4rem;
}

input,
textarea {
	width: 100%;
	border: 0;
	border-bottom: 2px solid #255C99;
	font-size: 1.4rem;
	background-color: transparent;
	margin: 0 0 16px 0;
	padding: 0;
	position: relative;
	display: block;
	transition: border-color .2s;
}

input::placeholder,
textarea::placeholder {
	color: rgba(0, 0, 0, .54);
}

input:focus,
textarea:focus {
	border-bottom: 2px solid #212121;
	outline: none;
}

textarea {
	resize: vertical;
	line-height: 2.0rem;
	padding-top: 5px;
	min-height: 52px;
}

input {
	height: 32px;
	line-height: 32px;
}

input[type=file] {
	position: relative;
	color: transparent;
	font-size: 0;
	margin-top: 8px;
	padding-left: 1px;
	cursor: pointer;
}

input[type=file]::after {
	content: "Ouvrir l'explorateur";
	position: absolute;
	border-radius: 4px 4px 0 0;
	color: white;
	box-sizing: border-box;
	text-align: center;
	width: 170px;
	font-size: 1.4rem;
	background-color: #255C99;
	padding: 0 12px; 
	top: 0;
	bottom: 0;
	left: 0;
}

.input_wrapper {
	position: relative;
}

.input_wrapper #file_path {
	position: absolute;
	display: inline-block;
	left: 182px;
	top: 0;
	bottom: 0;
	line-height: 32px;
}

.radio_btn {
	padding: 2px 0 0 0;
	position: relative;
}

.radio_btn input[type=radio] {
	opacity: 0;
	position: absolute;
}

.radio_btn label span {
	margin-left: 28px;
}

.radio_btn label {
	margin: 0 8px 8px 0;
	border: 2px solid #255C99;
	border-radius: 50%;
	height: 24px;
	width: 24px;
	cursor: pointer;
	position: relative;
	transition: .2s;
}

.radio_btn input[type=radio] + label:after {
	content: '';
    display: block;   
    background-color: #255c99;
    border-radius: 50%;
    position: absolute;
    top: 4px;
	right: 4px;
	bottom: 4px;
    left: 4px;
    transition: .08s;
    transform: scale(0);
}

.radio_btn input[type=radio]:checked + label:after {
	transform: scale(1);
}

.radio_btn input[type=radio]:focus + label {
	border-color: #212121;
}




















